<!-- components/nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/index.html">
            <img src="/assets/images/logo/logo.png" alt="Logo VTI" height="30" class="d-inline-block align-text-top">
            VTI Việt Nam
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/about.html">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/news.html">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/service-detail.html">Dịch vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://tuyendung.vti.com.vn/?_gl=1*12mfeth*_gcl_au*MTAwNTI5NTI2MS4xNzMxMjQwODky*_ga*MTM2OTEwNDE4Ni4xNzMxMjQwODkx*_ga_LQPRTTM5TD*MTczMTI0NjA5NS4yLjEuMTczMTI0NjA5Ni41OS4wLjA.*_ga_QS5NL7CHN1*MTczMTI0NjA5NS4yLjEuMTczMTI0NjA5Ni4wLjAuMA..">Tuyển dụng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index.html#contact">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/vti.com.vn" target="_blank">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>